* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #2C7CB0;
  color: #404E88;
  padding: 30px;
  font-family: 'Varela Round', sans-serif;
}

.app {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}

